apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: galaxy-ingress
  namespace: galaxy
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    ingress.kubernetes.io/ssl-proxy-headers: "X-Forwarded-Proto: https"
    ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: traefik
  rules:
    - host: pinwheel.fan
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: doppler-service
                port:
                  number: 80
    - host: augur.pinwheel.fan
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: augur-service
                port:
                  number: 8000
    - host: dreamflow.pinwheel.fan
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dreamflow-webserver-service
                port:
                  number: 8080
    - host: flower.pinwheel.fan
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dreamflow-flower-service
                port:
                  number: 5555
    - host: luna.pinwheel.fan
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: luna-service
                port:
                  number: 3000
    - host: oracle.pinwheel.fan
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: oracle-service
                port:
                  number: 7777
    - host: kami.pinwheel.fan
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kami-service
                port:
                  number: 8888
    - host: enchiridion.pinwheel.fan
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: enchiridion-service
                port:
                  number: 3110
    - host: ouroboros.pinwheel.fan
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ouroboros-service
                port:
                  number: 8001
  tls:
    - secretName: doppler-tls
      hosts:
        - pinwheel.fan
    - secretName: luna-tls
      hosts:
        - luna.pinwheel.fan
    - secretName: augur-tls
      hosts:
        - augur.pinwheel.fan
    - secretName: dreamflow-tls
      hosts:
        - dreamflow.pinwheel.fan
    - secretName: flower-tls
      hosts:
        - flower.pinwheel.fan
    - secretName: oracle-tls
      hosts:
        - oracle.pinwheel.fan
    - secretName: kami-tls
      hosts:
        - kami.pinwheel.fan
    - secretName: enchiridion-tls
      hosts:
        - enchiridion.pinwheel.fan
    - secretName: ouroboros-tls
      hosts:
        - ouroboros.pinwheel.fan
