apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: doppler-ingress
  namespace: galaxy
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    ingress.kubernetes.io/ssl-proxy-headers: "X-Forwarded-Proto: https"
    ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: traefik
  rules:
    - host: pinwheel.fan
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: doppler-service
                port:
                  number: 80
  tls:
    - secretName: doppler-tls
      hosts:
        - pinwheel.fan

